.about-me {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* or flex-start if you prefer */
  align-items: center;
}

.about-me p {
  max-width: 50%;
}

.about-me h2 {
  font-size: 2.5rem;
  color: #d8a848;
}

@media (max-width: 768px) {
  .about-me p {
    padding: 0 2rem;
    max-width: 100%;
    text-align: center;
  }
}
