.concerts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.concerts h2 {
  font-size: 3rem;
}

.concerts ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.concerts li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 2rem;
}

.concerts-ul {
  min-width: 40%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: 50%;
}

.concert {
  border-bottom: 1px solid white;
}

.concert:last-of-type {
  border-bottom: none;
}

.concert h3 {
  font-size: 2rem;
  margin: 0;
}

.what {
  color: #d8a848;
}

@media (max-width: 768px) {
  .concerts h2 {
    position: relative;
    text-align: center;
    margin-bottom: 0;
    font-size: 2.5rem;
    padding: 1rem;
  }

  .concerts h2::after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: white;
    margin: 0.5rem auto 0;
  }

  .concerts-ul {
    min-width: 50%;
    border: none;
  }

  .where {
    text-align: center;
  }
  .concert h3 {
    margin-bottom: 0.3rem;
  }

  .concert:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
}
