.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  /* overflow: hidden; */
  width: 100%;
  margin-top: 2rem;
  height: auto;
}

/* .hero .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  z-index: 2;
} */

.overlay {
  display: flex;
  flex-direction: column;
}

.overlay img {
  width: 80%;
  height: auto;
  margin: 1rem auto;
}
.cta-button {
  padding: 0.8rem 1.6rem;
  background-color: #b87838;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
}

.cta-button:hover {
  background-color: #d8a848;
}

@media (max-width: 768px) {
  .hero .overlay h1 {
    font-size: 2rem;
  }
  .hero .overlay p {
    font-size: 1rem;
  }
  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
  }
}
