.hero {
  position: relative;
  min-height: 100vh;
  background: url("/hero-image.jpeg") center center / cover no-repeat fixed;
  background-attachment: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  top: 250px;
  z-index: 2;
  text-align: center;
  color: #e8c8a8;
}

.hero-content h1 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cta-button {
  padding: 1rem 2.5rem;
  background-color: #b87838;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.cta-button:hover {
  background-color: #d8a848;
  transform: translateY(-3px);
}

/* Hero 2 */

.hero2 {
  position: relative;
  min-height: 100vh;
  background: url("/olovni-ples.jpg") center center / cover no-repeat fixed;
  background-attachment: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.hero2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Hero 2 */

/* Hero 3 */

.hero3 {
  position: relative;
  min-height: 100vh;
  background: url("/hero3.jpg") center center / cover no-repeat fixed;
  background-attachment: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.hero3::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Hero 3 */

/* Hero 4 */

.hero4 {
  position: relative;
  min-height: 100vh;
  background: url("/hero4.jpg") center center / cover no-repeat fixed;
  background-attachment: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.hero4::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Hero 4 */

@media (max-width: 768px) {
  .hero-content {
    top: 150px;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content p {
    font-size: 1.2rem;
  }
}
