.music-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* or flex-start if you prefer */
  align-items: center;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
iframe {
  margin-bottom: 1rem;
  border: 2px solid #d8a848;
}
