.music-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* or flex-start if you prefer */
  align-items: center;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.music-container h2 {
  font-size: 2rem;
  text-align: center;
}

iframe {
  margin-bottom: 1rem;
  border: 2px solid #d8a848;
}

@media (max-width: 768px) {
  iframe {
    width: 90%;
    height: 300px;
  }
  .music-container h2 {
    margin-top: 0;
  }
}
